
services:
  backend:
    image: ${DOCKER_REGISTRY}/${DOCKER_USERNAME}/backend:${DOCKER_TAG}
    container_name: backend
    restart: always
    ports:
      - "9090:9090"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      FIREBASE_CREDENTIALS_PATH: ${FIREBASE_CREDENTIALS_PATH}
      JWT_SECRET: ${JWT_SECRET}
      DB_USER_PASSWORD: ${DB_USER_PASSWORD}
      GMAIL_PASSWORD: ${GMAIL_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_REDIRECT_URI: ${KAKAO_REDIRECT_URI}
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
      GMS_KEY: ${GMS_KEY}
    volumes:
      - /home/ubuntu/app/secret/firebase-service-account.json:/run/secrets/firebase.json:ro
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_USER_PASSWORD}
      MYSQL_PASSWORD: ${DB_USER_PASSWORD}
      MYSQL_DATABASE: linkcare
      MYSQL_USER: ssafy
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  linkcare-ai:
    image: linkcare-ai:latest       # EC2에 로드된 이미지명
    container_name: linkcare-ai
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - /home/ubuntu/models:/app/app/models

volumes:
  mysql_data:
  redis_data:
